<!--
<form [formGroup] = "loginForm">
  <div class="form-group length">
    <input
            type="text"
            class="form-control"
            formControlName="username"
            name="username"
            id="username"
            aria-describedby="username"
            placeholder="User Name"
            [ngClass] = "{'is-invalid': submitted && f.username.errors}"
    >
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback" >
      <div *ngIf="f.username.errors?.['required']">Username doesn't exists</div>
    </div>
  </div><br />
  <div class="form-group" >
    <input
            type="password"
            class="form-control"
            formControlName="password"
            name="password"
            id="password"
            placeholder="Password"
            [ngClass] = "{'is-invalid': submitted && f.password.errors}"
    >
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback" >
      <div *ngIf="f.password.errors?.['required']">Password invalid</div>
    </div>
  </div>
  <br />
  <button type="submit" class="btn btn-primary" (click)="goToTable()">Login</button>
  <p *ngIf="submitted" class="text-monospace" >Login not succsess</p>
</form>


-->


    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-title">
                    User Login
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form [formGroup] = "loginForm">
                            <div class="form-group">
                                <label class="form-control-label">USERNAME</label>
                                <input type="text"
                                    class="form-control"
                                    formControlName="username"
                                    name="username"
                                    id="username"
                                    aria-describedby="username"
                                    placeholder="User Name"
                                    [ngClass] = "{'is-invalid': submitted && f.username.errors}"
                                >
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback" >
                                   <div *ngIf="f.username.errors?.['required']">Username doesn't exists</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">PASSWORD</label>
                                <input  type="password"
                                    class="form-control"
                                    formControlName="password"
                                    name="password"
                                    id="password"
                                    placeholder="Password"
                                    [ngClass] = "{'is-invalid': submitted && f.password.errors}"
                                >
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback" >
                                  <div *ngIf="f.password.errors?.['required']">Password invalid</div>
                                </div>
                            </div>

                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text">
                                    <!-- Error Message -->
                                </div>
                                <div class="row col-lg-12 login-btm login-button" style="margin-left: auto">
                                    <button type="submit" class="btn btn-outline-primary" (click)="goToTable()">LOGIN</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <h2 class="col-lg-12 font-monospace" style="color: #ECF0F5" *ngIf="submitted">Login not succsess</h2>
            </div>
        </div>
</div>