
<!--<mat-button-toggle-group name="fontStyle" aria-label="Font Style">-->
<!--    <mat-button-toggle value="login" routerLink="/auth/login"  routerLinkActive="active">Login</mat-button-toggle>-->
<!--    <mat-button-toggle value="sign-up" routerLink="/auth/sign-up"  routerLinkActive="active">Sign Up</mat-button-toggle>-->
<!--</mat-button-toggle-group>-->
<body style="background-color: #445069">
<div class="row">
    <button class="col-lg-6 btn btn-outline-primary" value="login" routerLink="/auth/login"  routerLinkActive="active">Login</button>
    <button class="col-lg-6 btn btn-outline-primary" value="sign-up" routerLink="/auth/sign-up"  routerLinkActive="active">Sign-up</button>
</div>

    <router-outlet></router-outlet>
</body>





