<body style="background-color: #445069">
<div class="row">
    <button class="col-lg-4 btn btn-outline-primary" value="User Table" routerLink="/user/table"  routerLinkActive="active">User Table</button>
    <button class="col-lg-4 btn btn-outline-primary" value="Update" routerLink="/user/delete"  routerLinkActive="active">Delete Record</button>
    <button class="col-lg-4 btn btn-outline-primary" value="Delete" routerLink="/user/update"  routerLinkActive="active">Update Record</button>
</div>
<router-outlet></router-outlet>

